<!DOCTYPE html>
<html lang="en">
{{ template "head.html" }}
<body>
  {{ template "header.html" }}
  <main>
    <p>I started my computer journey in 1998.</p>
    <p>I was a 16-year-old boy looking for books about computers and ended up finding one about C programming language.</p>
    <p>That book really got my attention, so I decided to give it a try.</p>
    <p>Well, I had no idea how that C programming language stuff would help me, but somehow I believed that C programmers know a lot about computers.</p>
    <p>After five months (yes that's it, I spent almost half a year to get a C compiler up and running), I was able to run my first \"Hello World!\" in C.</p>
    <p>I didn't have Internet access like we do today and when I did, it was a dial up connection to an Internet Service Provider. Something known as PPP. Have you heard about it?</p>
    <p>Sometimes I asked friends or people from the computer industry from my home town for help or to lend me some CD-ROMs, books, magazines, etc.</p>
    <p>That was how I could have access to some computer related content at that time.</p>
    <p>One year had gone by and I heard about Linux. It sounded like a very nice operating system. So, I decided I will be good at it.</p>
    <p>Once more I asked a friend to help me. That friend lend me a CD-ROM with a bundled Slackware 3.4 installer.</p>
    <p>Three months later I got my first Linux installation and could start to learn C programming using the Linux operating system.</p>
    <p>My dream at that time was to get a job as a C programmer. I got one, well not as a C programmer, but as a PHP programmer. What could I do? I decided to face the challenge. At my very first day at the new company, my boss told me that I needed to install a Linux server with an Apache and MySQL server first in order to start programming.</p>
    <p>So I did it, but when I was just about to be \"promoted\" as a programmer, I had to quit that job and started another one as a kind of Linux Network Administrator.</p>
    <p>Yeah, that was a big step for me. It had just been passed one year since I installed my first Linux distributioni, and even with so little time of experience I was hired as a Linux Network Administrator.</p>
    <p>Well, I think I did good. But I must confess, I made a lot of mistakes. In some way, it was good for my education in the computer field.</p>
    <p>After three years working as a Linux Network Administrator, I finally started a job as a C programmer.</p>
    <p>It was a big step for me. I was hired to be one of the C programmers responsible for a suite of routers which run Linux as their operating system.</p>
    <p>I would say that working in that role I had an opportunity to really learn a lot about Linux, computer's network and of course, C programming.</p>
    <p>After about three years I just quited that job and started working for a Wi-Fi Internet Service Provided.</p>
    <p>Again as C programming, but this time I was also responsible for managing a network of Wi-Fi routers.</p>
    <p>And that's what I'm doing until now.</p>
    <p>Today I'm in charge of more than 1000 Wi-Fi routers which run the OpenWrt Linux system.</p>
    <p>[]s</p>
    <p>Ronaldo Afonso</p>
  </main>
  {{ template "footer.html" }}
</body>
</html>`
